$candyCane: rgba(145, 22, 22, 0.801);

body {
    font-family: 'Heebo', Helvetica, sans-serif;
}

nav {
    margin-bottom: 1vw;
}

h2 {
    display: inline;
    margin-right: 6vw;
    font-family: 'Shrikhand', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    text-align: center;
    color: rgb(0, 0, 214);
    letter-spacing: .03vw;
    text-shadow: 0 0 .04vw rgb(255, 255, 255), 0 0 .2vw black;;
}

.attraction-link {
    margin-bottom: 1vw;
    margin-left: .3vw;
}

.attractionData {
    background: linear-gradient(to left top, rgba(176, 196, 222, 0.678), rgba(226, 237, 252, 0.678));
    border-radius: 1vw;
    padding: 1.2vw;
    font-weight: 300;
}


#gridWrap {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 10vw);
    grid-row-gap: 1.7vw;
    grid-column-gap: 2.7vw;
    justify-content: center;
    margin: 1em auto;
    padding: 1.3vw;
    border: 2px solid black;
}

.parkArea {
    padding-top: 3.9vw;
    border: 2px solid black;
    border-radius: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.8vw;
    color: rgb(255, 234, 234);
    text-shadow:
        .2vw 0 rgb(22, 21, 11),
        .2vw .2vw .8vw rgb(22, 21, 11),
        -.2vw -.2vw .8vw rgb(22, 21, 11);
    text-align: center;
    align-self: stretch;
}

.parkArea:hover {
    box-shadow: 0 0 3vw rgb(95, 95, 95);
    cursor: pointer;
}

#parkEnter, #parkCenter {
    box-shadow: none;
    cursor: initial;
}

#parkEnter {
    letter-spacing: .3vw;
    background: 
        repeating-linear-gradient(45deg, transparent, transparent .8vw, $candyCane .8vw, $candyCane 1.6vw),
        repeating-linear-gradient(-45deg, transparent, transparent .8vw,$candyCane .8vw, $candyCane 1.6vw),
        gold;
}

#parkCenter {
    background: repeating-radial-gradient(ellipse at center, darkcyan, rgb(87, 87, 87) 1vw, rgb(222, 255, 38) 2vw);
}

aside {
    float: left;
    width: 30%;
    border: 1px solid black;
    height: 500px;
    overflow-y: scroll;
}

main {
    width: 65%;
    float: right;
}

footer {
    clear: both;
    text-align: right;
}

.highlighted {
    box-shadow: inset 0px 0px 25px 0px yellow;
}