//variables
$highlight: inset 0 0 2vw 1vw gold,
            inset 0 0 3vw 1vw slateblue;

//extensions
%posRel {
    position: relative;
}

%bkgdLayer {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-size: cover;
    border-radius: 1em;
}


//global styling

body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', Helvetica, sans-serif;
    background: linear-gradient(to right top, rgba(227, 227, 228, 0.63), rgba(245, 245, 245, 0.253)), url("../images/background.jpg");
    background-size: cover;
}

nav {
    margin-bottom: 1vw;
    border-bottom: .4vw slategray double;
    background: linear-gradient(to right top, lavenderblush, lightgoldenrodyellow);
    h2 {
        display: inline;
        margin: auto 3vw;
        font-family: 'Shrikhand', Helvetica, sans-serif;
        letter-spacing: .1em;
        font-size: 2.4em;
        text-shadow: .2vw 0 .02vw goldenrod;
    }
}

aside {
    float: left;
    width: 30%;
    height: 80vh;
    margin-left: 1vw;
    border: 1px solid black;
    background: whitesmoke;
    overflow-y: scroll;
    h3 {
        text-align: center;
        font-style: italic;
        font-size: 1.3em;
        letter-spacing: .2vw;
        margin: .3vw auto;
        border-bottom: .1vw solid rgb(147, 154, 163);
    }
    a {
        text-decoration: none;
        transition: all .2s;
        outline: none;
        color: rgb(68, 68, 71);
        &:hover {
            text-align: center;
            color: rgb(255, 230, 0);
            letter-spacing: .03vw;
            text-shadow: 0 0 .1vw rgb(4, 8, 255), 0 0 .4vw rgb(65, 65, 65);
        }
    }
}

main {
    width: 65%;
    float: right;
    margin-right: 1vw;
}

footer {
    clear: both;
    text-align: right;
}


////class styling

.attraction-link {
    margin-bottom: 1vw;
    margin-left: .3vw;
    &:hover {
        background: rgb(147, 156, 165);
    }
}

.attractionData {
    background: linear-gradient(to left top, rgba(176, 196, 222, 0.678), rgba(226, 237, 252, 0.678));
    border-radius: 1vw;
    padding: 1.2vw;
    font-weight: 300;
}

.parkArea {
    border: 2px solid black;
    border-radius: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.8vw;
    color: rgb(255, 234, 234);
    text-shadow:
        .2vw 0 rgb(22, 21, 11),
        .2vw .2vw .8vw rgb(22, 21, 11),
        -.2vw -.2vw .8vw rgb(22, 21, 11);
    text-align: center;
    align-self: stretch;
    display: grid;
    transition: all .5s;
    h4 {
        margin-left: .8vw;
        letter-spacing: .1vw;
        font-weight: 300;
        z-index: 1;
    }
}

.parkArea:hover {
    box-shadow: 0 0 4vw rgb(0, 0, 0);
    transform: scale(1.01, 1.01);
    cursor: pointer;
}

// DEV: visualizes the attractions gridWrap. Remove once fully functioning
.area-grid-item {
    // border: 1px solid black;
    z-index: 2;
}

.highlighted {
    box-shadow: $highlight;
    animation: glow 1s infinite;
}


////id styling

#sub {
    font-size: .6em;
    letter-spacing: .2em;
    margin-left: .5em;
}

#timeLabel {
    font-size: 1.3vw;
    color: whitesmoke;
    text-shadow: 0 0 .1vw rgb(37, 37, 37);
    letter-spacing: .1em;
}

#search-field {
    width: 16vw;
    height: 2vw;
    font-size: 1.4vw;
}

#gridWrap {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 17vw);
    grid-template-rows: repeat(3, 12vw);
    grid-row-gap: .7vw;
    grid-column-gap: 1vw;
    justify-content: center;
    margin: 1em auto;
    padding: 1.3vw;
    border: 2px solid black;
    background: linear-gradient(to right top, rgb(227, 227, 228), rgba(245, 245, 245, 0.425)), url("../images/gridBack.jpg");
    background-size: cover;
}



@for $id from 1 through 7 {
    #park#{$id} {
        @extend %posRel;
        &:before {
            @extend %bkgdLayer;
            background-image: url('../images/park#{$id}.jpg');
            transition: opacity .7s;
        }
        &:hover::before {
            opacity: 1;
        }
    }
}


#parkEnter, #parkCenter {
    box-shadow: none;
    transform: none;
    border: .3vw double grey;
    cursor: initial;
}

#parkEnter {
    letter-spacing: .3vw;
    background: url('../images/entrance.jpg');
    background-size: cover;
    border-radius: 2em;
}

#parkCenter {
    background: url('../images/stone.jpg');
    background-size: cover;
    background-position: -1vw -1vw;
    border-radius: 50%;
}



////// animations

* {
    animation: fadeIn 0.9s;
}

@keyframes glow {
    0%, 100% {
        box-shadow: inset 0 0 3vw .6vw gold;
    }
    50% {
        box-shadow: $highlight;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
