<div class='attractionData'>
    <p>{{description}}</p>
    {{#if times}}
        <p>Hours of Operation:
            <ul>
                {{#each times}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </p>
    {{else}}
        <p>Hours of Operation: All Day</p>
    {{/if}}
</div>