<div class='attractionData' id={{id}}>
    <p>{{description}}</p>
    {{#if times}}
        <p>Hours of Operation:
            <ul>
                {{#each times}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </p>
    {{/if}}
</div>